@import "variables";
@import "bootstrap/scss/bootstrap";
.form-control:disabled {
  background-color: hsl(0, 0%, 95%) !important;
}
.my-react-select__control {
  font-size: 0.95rem !important;
  min-height: 30px !important;
  border-radius: 0.175rem !important;
  border-color: #dee2e6 !important;
  border-width: 1px !important;
}

.my-react-select__value-container {
  padding: 0px 8px !important;
}

.my-react-select__placeholder {
  color: #adb5bd !important;
}

.my-react-select__indicator {
  padding: 7.3px !important;
}

.app-name {
  font-family: "Abel", sans-serif;
  font-size: 2rem;
  letter-spacing: 5px;
}
